<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="LoginTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
</suite>